/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.row {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.natural-height {
  align-items: flex-start;
}

.row.flex-column {
  flex-direction: column;
}

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col.reverse {
  flex-direction: column-reverse;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.align-baseline {
  align-self: baseline;
}

.align-stretch {
  align-self: stretch;
}

.col-xs {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-1 {
  box-sizing: border-box;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-2 {
  box-sizing: border-box;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 1.5rem;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-4 {
  box-sizing: border-box;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-5 {
  box-sizing: border-box;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 1.5rem;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-7 {
  box-sizing: border-box;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-8 {
  box-sizing: border-box;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 1.5rem;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-10 {
  box-sizing: border-box;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-11 {
  box-sizing: border-box;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-12 {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.row.start-xs {
  justify-content: flex-start;
}

.row.center-xs {
  justify-content: center;
}

.row.end-xs {
  justify-content: flex-end;
}

.row.top-xs {
  align-items: flex-start;
}

.row.middle-xs {
  align-items: center;
}

.row.bottom-xs {
  align-items: flex-end;
}

.row.around-xs {
  justify-content: space-around;
}

.row.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

@media only screen and (min-width: 576px) {
  .col-sm {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .row.start-sm {
    justify-content: flex-start;
  }

  .row.center-sm {
    justify-content: center;
  }

  .row.end-sm {
    justify-content: flex-end;
  }

  .row.top-sm {
    align-items: flex-start;
  }

  .row.middle-sm {
    align-items: center;
  }

  .row.bottom-sm {
    align-items: flex-end;
  }

  .row.around-sm {
    justify-content: space-around;
  }

  .row.between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }
}
@media only screen and (min-width: 768px) {
  .col-md {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .row.start-md {
    justify-content: flex-start;
  }

  .row.center-md {
    justify-content: center;
  }

  .row.end-md {
    justify-content: flex-end;
  }

  .row.top-md {
    align-items: flex-start;
  }

  .row.middle-md {
    align-items: center;
  }

  .row.bottom-md {
    align-items: flex-end;
  }

  .row.around-md {
    justify-content: space-around;
  }

  .row.between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }
}
@media only screen and (min-width: 992px) {
  .col-lg {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .row.start-lg {
    justify-content: flex-start;
  }

  .row.center-lg {
    justify-content: center;
  }

  .row.end-lg {
    justify-content: flex-end;
  }

  .row.top-lg {
    align-items: flex-start;
  }

  .row.middle-lg {
    align-items: center;
  }

  .row.bottom-lg {
    align-items: flex-end;
  }

  .row.around-lg {
    justify-content: space-around;
  }

  .row.between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }
}
@media only screen and (min-width: 1120px) {
  .col-xl {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-xl-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-xl-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-xl-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-xl-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-xl-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-xl-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-xl-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-xl-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-offset-12 {
    margin-left: 100%;
  }

  .row.start-xl {
    justify-content: flex-start;
  }

  .row.center-xl {
    justify-content: center;
  }

  .row.end-xl {
    justify-content: flex-end;
  }

  .row.top-xl {
    align-items: flex-start;
  }

  .row.middle-xl {
    align-items: center;
  }

  .row.bottom-xl {
    align-items: flex-end;
  }

  .row.around-xl {
    justify-content: space-around;
  }

  .row.between-xl {
    justify-content: space-between;
  }

  .first-xl {
    order: -1;
  }

  .last-xl {
    order: 1;
  }
}
.col-gutter-lr {
  padding: 0 1.5rem;
}

.col-no-gutter {
  padding: 0;
}

.show {
  display: block !important;
}

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide {
  display: none !important;
}

.show-xs {
  display: block !important;
}

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide-xs {
  display: none !important;
}

@media only screen and (max-width: 575.9px) {
  .show-xs-only {
    display: block !important;
  }

  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xs-only {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) {
  .show-sm {
    display: block !important;
  }

  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.9px) {
  .show-sm-only {
    display: block !important;
  }

  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm-only {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .show-md {
    display: block !important;
  }

  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.9px) {
  .show-md-only {
    display: block !important;
  }

  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md-only {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) {
  .show-lg {
    display: block !important;
  }

  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1119.9px) {
  .show-lg-only {
    display: block !important;
  }

  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1120px) {
  .show-xl {
    display: block !important;
  }

  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xl {
    display: none !important;
  }
}
.breadcrumb {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 20px 0;
}
.breadcrumb > li {
  line-height: 20px;
  display: inline-block;
  font-size: 1.4rem;
}
.breadcrumb > li:after {
  content: ">";
  padding: 0 5px;
}
.form_control {
  margin: 0;
  width: 100%;
  height: 44px;
  outline: none;
  color: #1c2530;
  background: #fff;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 11px 16px;
  display: inline-block;
  border: 1px solid #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.form_control::-moz-placeholder {
  color: #1c2530;
  opacity: 1;
}
.form_control:-ms-input-placeholder {
  color: #1c2530;
}
.form_control::-webkit-input-placeholder {
  color: #1c2530;
}
.form_control::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.form_control:focus::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form_control:focus:-ms-input-placeholder {
  color: transparent;
}
.form_control:focus::-webkit-input-placeholder {
  color: transparent;
}
.form_control.error {
  border-color: darkred;
}

.form_label {
  color: #b4bdc7;
  display: block;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 5px;
}

.form_group {
  margin-bottom: 15px;
}

.btn {
  outline: none;
  color: #1c2530;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 9px 38px;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  background: #ffcc00;
  border: 2px solid #ffcc00;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.btn:hover {
  color: #1c2530;
  background: #fffd4b;
  border-color: #fffd4b;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn:active {
  background: #ffcc00;
  border-color: #ffcc00;
}
.btn:focus, .btn.focus {
  outline: 0;
}

.btn_border {
  color: #fff;
  background: transparent;
}
.btn_border:hover {
  color: #151c25;
  background: #ffcc00;
  border-color: #ffcc00;
}
.btn_border:active {
  background: #fffd4b;
  border-color: #fffd4b;
}

.btn_md {
  font-size: 1.6rem;
  padding: 17px 40px;
}

.btn_lg {
  font-weight: 600;
  font-size: 1.4rem;
  padding: 13px 45px;
}

.btn_shadow {
  -webkit-box-shadow: 0px 10px 25px 0px rgba(224, 179, 0, 0.4);
  box-shadow: 0px 10px 25px 0px rgba(224, 179, 0, 0.4);
}

.btn_long {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.img-fluid {
  height: auto;
  display: block;
  max-width: 100%;
}

.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.mb_10 {
  margin-bottom: 10px !important;
}

.mb_20 {
  margin-bottom: 20px !important;
}

.mb_30 {
  margin-bottom: 30px !important;
}

.mb_40 {
  margin-bottom: 40px !important;
}

.mb_50 {
  margin-bottom: 50px !important;
}

.mb_60 {
  margin-bottom: 60px !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #b4bdc7;
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #151c25;
  font-size: 1.4rem;
  line-height: 1.714285;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 576px) {
  .container {
    width: 530px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1120px) {
  .container {
    width: 1090px;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.1;
}

h1, .h1 {
  color: #fff;
  font-size: 3.6rem;
  line-height: 4rem;
  margin-bottom: 30px;
  font-family: "Open Sans", Arial, sans-serif;
}

h2, .h2 {
  color: #fff;
  font-size: 3.6rem;
  margin-bottom: 25px;
  font-family: "Open Sans", Arial, sans-serif;
}

h3, .h3 {
  color: #fff;
  font-size: 2.4rem;
  margin-bottom: 20px;
  font-family: "Open Sans", Arial, sans-serif;
}

h4, .h4 {
  color: #fff;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 5px;
  font-family: "Open Sans", Arial, sans-serif;
}

h5, .h5 {
  font-size: 1.6rem;
  font-family: "Open Sans", Arial, sans-serif;
}

h6, .h6 {
  font-size: 1.4rem;
  font-family: "Open Sans", Arial, sans-serif;
}

p {
  margin: 0 0 25px 0;
}

a {
  outline: none;
  color: #b4bdc7;
  text-decoration: underline;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #b4bdc7;
  text-decoration: none;
}

.header {
  z-index: 1200;
  position: relative;
  background: #151c25;
  -webkit-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.16);
}
.header__logo {
  width: 180px;
  display: block;
  margin: 20px auto 0 auto;
}
.header__nav {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.4rem;
  line-height: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.header__nav > li > a {
  width: 100%;
  color: #fff;
  padding: 0 10px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
}
.header__nav > li > a span {
  height: 60px;
  display: inline-block;
  padding: 20px 0 18px 0;
  border-bottom: 2px solid transparent;
}
.header__nav > li > a:hover {
  color: #fff;
}
.header__nav > li > a:hover span {
  text-decoration: underline;
}
.header__nav > li.active > a span {
  border-bottom-color: #ffcc00;
}
@media (min-width: 576px) {
  .header__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .header__logo {
    margin: 0;
  }
  .header__nav {
    margin-right: -10px;
  }
}
@media (min-width: 768px) {
  .header__logo {
    width: 197px;
  }
  .header__nav {
    width: 330px;
  }
  .header__nav > li > a span {
    height: 84px;
    padding: 32px 0 30px 0;
  }
}
.footer {
  padding: 40px 0 50px 0;
  background: #151c25;
}
.footer__row {
  position: relative;
}
.footer__logo {
  width: 148px;
  display: block;
  margin: 0 auto 30px auto;
}
.footer__nav {
  padding: 0;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 2rem;
  margin: 0 0 30px 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.footer__nav > li {
  padding: 0 15px;
}
.footer__nav > li a {
  color: #898f96;
  white-space: nowrap;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.footer__nav > li a:hover {
  color: #fff;
  text-decoration: underline;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.footer__social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.footer__social li {
  margin: 0 12px;
}
.footer__social li a {
  color: #585f68;
  font-size: 2rem;
  line-height: 2rem;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.footer__social li a:hover {
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.footer__text {
  padding-top: 30px;
  color: #898f96;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.8rem;
  text-align: center;
}
@media (min-width: 576px) {
  .footer__row {
    height: 30px;
    padding-left: 170px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .footer__logo {
    left: 0;
    top: 1px;
    margin: 0;
    position: absolute;
  }
  .footer__nav {
    margin-bottom: 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
  }
  .footer__social {
    margin: 0 -12px 0 0;
  }
  .footer__text {
    text-align: left;
  }
}
@media (min-width: 768px) {
  .footer__row {
    padding-left: 210px;
  }
  .footer__nav > li {
    padding: 0 20px;
  }
}
.page {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main {
  padding: 35px 0 45px 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.main_border {
  border-bottom: 1px solid #222b34;
}

.main_first {
  background: url("../img/first__bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}

.main_box {
  color: #b4bdc7;
  font-weight: 300;
  padding: 30px 20px;
  font-size: 1.4rem;
  line-height: 2.4rem;
  background: #28313d;
  margin-bottom: 45px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.14);
}
.main_box__row {
  padding-top: 10px;
}
@media (min-width: 576px) {
  .main_box {
    padding: 50px 50px;
  }
}
@media (min-width: 992px) {
  .main_box {
    padding: 50px 40px;
    width: calc(50% - 15px);
  }
  .main_box__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
}
@media (min-width: 1120px) {
  .main_box {
    padding: 50px 50px;
    width: calc(50% - 22px);
  }
}

.contacts {
  margin: 0;
  list-style: none;
  padding: 30px 20px;
  background: #28313d;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.14);
}
.contacts li {
  width: 50%;
  font-size: 1.3rem;
  line-height: 2.4rem;
  position: relative;
  padding: 15px 0 15px 50px;
  background-position: 0 50%;
  background-repeat: no-repeat;
}
.contacts li a {
  color: #ffcc00;
  text-decoration: none;
}
.contacts li a:hover {
  color: #ffcc00;
  text-decoration: underline;
}
.contacts li i {
  left: 0;
  top: 50%;
  color: #fff;
  margin-top: -18px;
  font-size: 36px;
  line-height: 36px;
  position: absolute;
}
.contacts__title {
  color: #fff;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
@media (min-width: 576px) {
  .contacts {
    padding: 40px 20px 40px 50px;
  }
}
@media (min-width: 768px) {
  .contacts li {
    width: 33.33%;
    font-size: 1.4rem;
    padding-left: 60px;
  }
  .contacts__title {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}
@media (min-width: 992px) {
  .contacts {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
  }
  .contacts li {
    width: 20%;
  }
}
.warning {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #ffcc00;
  position: relative;
  padding-left: 35px;
  min-height: 30px;
}
.warning:before {
  top: -10px;
  left: -15px;
  content: "";
  z-index: 10;
  width: 52px;
  height: 52px;
  position: absolute;
  display: inline-block;
  background: url("../img/icon__warning.png") 0 0 no-repeat;
}

.user {
  color: #b4bdc7;
  font-size: 1.4rem;
  line-height: 2.4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.user__photo {
  width: 100px;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.user__info {
  padding-left: 20px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.user__name {
  font-size: 2.2rem;
  line-height: 2.4rem;
  color: #ffcc00;
  margin-bottom: 5px;
}
.user__staff {
  color: #fff;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 25px;
}
@media (min-width: 576px) {
  .user__photo {
    width: 174px;
  }
  .user__info {
    padding-left: 35px;
  }
  .user__name {
    font-size: 3rem;
    line-height: 3rem;
  }
  .user__staff {
    font-size: 1.8rem;
  }
}
.promo {
  background: url("../img/promo__bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.promo__wrap {
  position: relative;
  padding-top: 20px;
  padding-bottom: 75px;
}
.promo__logo {
  max-width: 320px;
  margin: 0 auto 10px auto;
}
.promo__list {
  margin: 0;
  padding: 0;
  max-width: 610px;
  list-style: none;
}
.promo__list > li {
  padding-left: 80px;
}
.promo__list > li:nth-child(1) {
  margin-bottom: 70px;
  background: url("../img/promo__icon_01.png") 0 0 no-repeat;
}
.promo__list > li:nth-child(2) {
  background: url("../img/promo__icon_02.png") 0 0 no-repeat;
}
.promo__list h4 {
  margin-bottom: 15px;
}
.promo__list p {
  color: #b4bdc7;
  margin-bottom: 0;
}
.promo__content {
  max-width: 530px;
}
@media (min-width: 768px) {
  .promo__logo {
    max-width: inherit;
    width: 320px;
    margin: 0 auto 10px auto;
  }
}
@media (min-width: 992px) {
  .promo {
    height: 535px;
  }
  .promo__wrap {
    position: relative;
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .promo__logo {
    top: 50%;
    right: -60px;
    width: 450px;
    margin-top: -225px;
    position: absolute;
  }
}
@media (min-width: 1120px) {
  .promo__logo {
    right: -70px;
    width: 535px;
    margin-top: -267px;
  }
}

.tariff {
  padding-top: 100px;
  padding-bottom: 45px;
  border-bottom: 1px solid #222b34;
}
.tariff__item {
  max-width: 324px;
  text-align: center;
  position: relative;
  margin: 0 auto 120px auto;
  padding: 78px 10px 40px 10px;
  background: url("../img/tariff__bg.jpg") 50% 50% no-repeat;
  background-size: cover;
  border-top: 2px solid transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.tariff__item_icon {
  top: -70px;
  left: 50%;
  width: 242px;
  position: absolute;
  margin-left: -121px;
}
.tariff__item_title {
  font-weight: 300;
  font-size: 4.6rem;
  line-height: 4.6rem;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.tariff__item_price {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  margin-bottom: 10px;
}
.tariff__item_info {
  color: #b4bdc7;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 30px;
}
.tariff__item:nth-child(1) {
  border-top-color: #67737f;
}
.tariff__item:nth-child(1) .tariff__item_title {
  color: #8fa6ba;
}
.tariff__item:nth-child(2) {
  border-top-color: #374ec3;
}
.tariff__item:nth-child(2) .tariff__item_title {
  color: #374ec3;
}
.tariff__item:nth-child(3) {
  margin-bottom: 0;
  border-top-color: #ca2c58;
}
.tariff__item:nth-child(3) .tariff__item_title {
  color: #ca2c58;
}
@media (min-width: 768px) {
  .tariff__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .tariff__item {
    width: 220px;
    margin-bottom: 0;
  }
  .tariff__item_title {
    font-size: 3.6rem;
    line-height: 3.6rem;
  }
}
@media (min-width: 992px) {
  .tariff__item {
    width: 300px;
  }
  .tariff__item_title {
    font-size: 4.6rem;
    line-height: 4.6rem;
  }
}
@media (min-width: 1120px) {
  .tariff__item {
    width: 324px;
  }
}

.career {
  background: #28313d;
  padding: 15px 0 15px 5px;
  border-bottom: 1px solid #151c25;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.career__title {
  width: 100%;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 5px 10px;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.career__title span {
  color: #3889ee;
  display: block;
}
.career__title strong {
  color: #fff;
  display: block;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 3px;
  text-transform: uppercase;
}
.career__item {
  width: 25%;
  font-size: 1.3rem;
  line-height: 2rem;
  padding: 5px 10px;
}
.career__item_icon {
  width: 31px;
  margin-bottom: 3px;
}
.career__item_text span {
  color: #b4bdc7;
  display: block;
}
.career__item_text strong {
  color: #fff;
  display: block;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.2rem;
  text-transform: uppercase;
}
@media (min-width: 576px) {
  .career {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
  }
  .career__title {
    width: 100px;
  }
}
@media (min-width: 768px) {
  .career {
    white-space: nowrap;
    height: 100px;
    padding: 15px 0 15px 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
  .career__title {
    width: 180px;
    padding: 5px 0 5px 30px;
  }
  .career__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
  .career__item_text {
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  .career__title {
    width: 235px;
  }
  .career__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
  .career__item_text {
    font-size: 1.4rem;
    padding-left: 15px;
  }
  .career__item_text strong {
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 3px;
  }
}

.faq {
  padding: 25px 0;
  border-bottom: 1px solid #222b34;
}
.faq:last-child {
  border-bottom: none;
}
.faq__question {
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  line-height: 2.4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.faq__question i {
  line-height: 2.4rem;
  display: inline-block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.faq__question span {
  display: block;
  font-weight: 600;
  padding-left: 15px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.faq__question:hover {
  color: #ffcc00;
}
.faq__answer {
  color: #b4bdc7;
  display: none;
  font-weight: 300;
  padding-top: 20px;
}
.faq__answer p {
  margin-bottom: 0;
}
.faq.open .faq__question {
  color: #ffcc00;
}
.faq.open .faq__question i {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.help_list {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: li;
}
.help_list li {
  position: relative;
  padding: 10px 0 15px 60px;
}
.help_list li:before {
  top: 0;
  left: 0;
  color: #fff;
  width: 40px;
  height: 40px;
  padding: 8px 0;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  position: absolute;
  content: counter(li);
  counter-increment: li;
  border: 2px solid #246ac8;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.help_one {
  position: relative;
  padding-top: 40px;
  padding-bottom: 80px;
}
.help_one__item {
  max-width: 380px;
}
@media (min-width: 768px) {
  .help_one {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .help_one__image {
    width: 380px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .help_one__content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .help_one__text {
    margin-left: -10px;
  }
}
@media (min-width: 992px) {
  .help_one__image {
    width: 761px;
  }
  .help_one__text {
    padding-top: 25px;
    margin-left: -140px;
  }
}

.help_two {
  position: relative;
  padding-top: 40px;
  padding-bottom: 80px;
}
.help_two__image {
  margin-left: -20px;
  margin-bottom: 30px;
}
.help_two__content {
  font-weight: 300;
}
@media (min-width: 992px) {
  .help_two {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .help_two__image {
    margin: 0;
    width: 480px;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .help_two__content {
    max-width: 460px;
    font-weight: 300;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media (min-width: 1120px) {
  .help_two__image {
    width: 550px;
  }
}

.help_three {
  position: relative;
  padding-top: 40px;
  padding-bottom: 80px;
}
.help_three__item {
  max-width: 380px;
  font-weight: 300;
}
@media (min-width: 768px) {
  .help_three {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .help_three__image {
    width: 380px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .help_three__content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .help_three__text {
    margin-left: -10px;
  }
}
@media (min-width: 992px) {
  .help_three__image {
    width: 761px;
  }
  .help_three__text {
    padding-top: 25px;
    margin-left: -140px;
  }
}

.help_four {
  position: relative;
  padding-top: 40px;
  padding-bottom: 80px;
}
.help_four__image {
  margin-left: -20px;
  margin-bottom: 30px;
}
.help_four__content {
  font-weight: 300;
}
@media (min-width: 992px) {
  .help_four {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .help_four__image {
    margin: 0;
    width: 480px;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .help_four__content {
    max-width: 460px;
    font-weight: 300;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media (min-width: 1120px) {
  .help_four__image {
    width: 550px;
  }
}

.help_five {
  padding-top: 40px;
  padding-bottom: 35px;
}
.help_five__image {
  margin-bottom: 40px;
}
.help_five__content {
  font-weight: 300;
}
.help_five__legend {
  padding: 0;
  list-style: none;
  margin: 0 0 60px 0;
}
.help_five__legend > li {
  margin-bottom: 25px;
}
@media (min-width: 992px) {
  .help_five {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .help_five__image {
    width: 550px;
    margin-bottom: 0;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .help_five__content {
    max-width: 400px;
    padding: 25px 0 0 20px;
  }
  .help_five__legend {
    margin-bottom: 100px;
  }
  .help_five__legend > li {
    margin-bottom: 45px;
  }
  .help_five .warning {
    margin-left: -30px;
  }
}
@media (min-width: 1120px) {
  .help_five__image {
    width: 617px;
  }
  .help_five__content {
    padding: 30px 0 0 20px;
  }
  .help_five__legend {
    margin-bottom: 140px;
  }
  .help_five__legend > li {
    margin-bottom: 60px;
  }
}

/*# sourceMappingURL=main.css.map */
