.page {
	width: 100%;
	overflow: hidden;
	min-height: 100vh;
	@include flexbox();
	@include flex-direction(column);
}

.main {
	padding: 35px 0 45px 0;
	@include flex-grow(1);
	
	&_border {
		border-bottom: 1px solid #222b34;
	}
}

.main_first {
	background: url("../img/first__bg.jpg") 50% 50% no-repeat;
	background-size: cover;
}

.main_box {
	color: #b4bdc7;
	font-weight: 300;
	padding: 30px 20px;
	font-size: 1.4rem;
	line-height: 2.4rem;
	background: #28313d;
	margin-bottom: 45px;
	@include border-radius(4px);
	@include box-shadow(0px 2px 10px 0px rgba(0, 0, 0, 0.14));
	
	&__row {
		padding-top: 10px;
	}
	
	
	@media (min-width: $screen-sm-min) {
		padding: 50px 50px;
	}
	
	@media (min-width: $screen-md-min) {
	
	}
	
	@media (min-width: $screen-lg-min) {
		padding: 50px 40px;
		width: calc(50% - 15px);
		
		&__row {
			@include flexbox();
			@include justify-content(space-between);
		}
	}
	
	@media (min-width: $screen-xl-min) {
		padding: 50px 50px;
		width: calc(50% - 22px);
	}
}

.contacts {
	margin: 0;
	list-style: none;
	padding: 30px 20px;
	background: #28313d;
	@include flexbox();
	@include flex-wrap(wrap);
	@include border-radius(4px);
	@include justify-content(center);
	@include box-shadow(0px 2px 10px 0px rgba(0, 0, 0, 0.14));
	
	li {
		width: 50%;
		font-size: 1.3rem;
		line-height: 2.4rem;
		position: relative;
		padding: 15px 0 15px 50px;
		background-position: 0 50%;
		background-repeat: no-repeat;
		
		a {
			color: $color-yellow;
			text-decoration: none;
			
			&:hover {
				color: $color-yellow;
				text-decoration: underline;
			}
		}

		i {
			left: 0;
			top: 50%;
			color: #fff;
			margin-top: -18px;
			font-size: 36px;
			line-height: 36px;
			position: absolute;
		}
	}
	
	&__title {
		color: #fff;
		font-size: 1.6rem;
		line-height: 2.2rem;
	}
	
	
	&_telegram {
//		background-image: url("../img/icon__telegram.png");
	}
	
	&_whatsapp {
//		background-image: url("../img/icon__whatsapp.png");
	}
	
	&_viber {
//		background-image: url("../img/icon__viber.png");
	}
	
	&_instagram {
//		background-image: url("../img/icon__imstagram.png");
	}
	
	&_facebook {
//		background-image: url("../img/icon__facebook.png");
	}
	
	@media (min-width: $screen-sm-min) {
		padding: 40px 20px 40px 50px;
	}
	
	@media (min-width: $screen-md-min) {
	
		li {
			width: 33.33%;
			font-size: 1.4rem;
			padding-left: 60px;
		}
		
		&__title {
			font-size: 1.8rem;
			line-height: 2rem;
		}
	}
	
	@media (min-width: $screen-lg-min) {
		@include justify-content(center);
	
		li {
			width: 20%;
		}
	}
	
	@media (min-width: $screen-xl-min) {
	
	}
}

.warning {
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 2.4rem;
	color: $color-yellow;
	position: relative;
	padding-left: 35px;
	min-height: 30px;
	
	&:before {
		top: -10px;
		left: -15px;
		content: '';
		z-index: 10;
		width: 52px;
		height: 52px;
		position: absolute;
		display: inline-block;
		background: url("../img/icon__warning.png") 0 0 no-repeat;
	}
}

.user {
	color: #b4bdc7;
	font-size: 1.4rem;
	line-height: 2.4rem;
	@include flexbox();
	
	&__photo {
		width: 100px;
		@include flex-shrink(0);
	}
	
	&__info {
		padding-left: 20px;
		@include flex-grow(1);
	}
	
	&__name {
		font-size: 2.2rem;
		line-height: 2.4rem;
		color: $color-yellow;
		margin-bottom: 5px;
	}
	
	&__staff {
		color: #fff;
		font-size: 1.6rem;
		line-height: 2.4rem;
		margin-bottom: 25px;
	}
	
	&__text {
	
	}
	
	
	@media (min-width: $screen-sm-min) {
		
		&__photo {
			width: 174px;
		}
		
		&__info {
			padding-left: 35px;
		}
		
		&__name {
			font-size: 3rem;
			line-height: 3rem;
		}
		
		&__staff {
			font-size: 1.8rem;
		}
	}
	
	@media (min-width: $screen-md-min) {
	
	}
}

.promo {
	background: url("../img/promo__bg.jpg") 50% 50% no-repeat;
	background-size: cover;
	
	&__wrap {
		position: relative;
		padding-top: 20px;
		padding-bottom: 75px;
	}
	
	&__logo {
		max-width: 320px;
		margin: 0 auto 10px auto;
	}
	
	
	&__list {
		margin: 0;
		padding: 0;
		max-width: 610px;
		list-style: none;
		
		> li {
			padding-left: 80px;
			
			&:nth-child(1) {
				margin-bottom: 70px;
				background: url("../img/promo__icon_01.png") 0 0 no-repeat;
			}
			
			&:nth-child(2) {
				background: url("../img/promo__icon_02.png") 0 0 no-repeat;
			}
		}
		
		h4 {
			margin-bottom: 15px;
		}
		
		p {
			color: #b4bdc7;
			margin-bottom: 0;
		}
	}
	
	&__content {
		max-width: 530px;
	}
	
	@media (min-width: $screen-md-min) {
		
		&__logo {
			max-width: inherit;
			width: 320px;
			margin: 0 auto 10px auto;
		}
	}
	
	@media (min-width: $screen-lg-min) {
		height: 535px;
		
		&__wrap {
			position: relative;
			padding-top: 75px;
			padding-bottom: 75px;
		}
		
		&__logo {
			top: 50%;
			right: -60px;
			width: 450px;
			margin-top: -225px;
			position: absolute;
		}
	}
	
	@media (min-width: $screen-xl-min) {
		
		&__logo {
			right: -70px;
			width: 535px;
			margin-top: -267px;
		}
	}
}

.tariff {
	padding-top: 100px;
	padding-bottom: 45px;
	border-bottom: 1px solid #222b34;

	&__row {
	
	}
	
	&__item {
		max-width: 324px;
		text-align: center;
		position: relative;
		margin: 0 auto 120px auto;
		padding: 78px 10px 40px 10px;
		background: url("../img/tariff__bg.jpg") 50% 50% no-repeat;
		background-size: cover;
		border-top: 2px solid transparent;
		@include border-radius(4px);
		
		&_icon {
			top: -70px;
			left: 50%;
			width: 242px;
			position: absolute;
			margin-left: -121px;
		}
		
		&_title {
			font-weight: 300;
			font-size: 4.6rem;
			line-height: 4.6rem;
			margin-bottom: 25px;
			text-transform: uppercase;
		}
		
		&_price {
			color: #ffffff;
			font-size: 2rem;
			font-weight: 700;
			line-height: 2rem;
			margin-bottom: 10px;
		}
		
		&_info {
			color: #b4bdc7;
			font-weight: 300;
			font-size: 1.4rem;
			line-height: 2rem;
			margin-bottom: 30px;
		}
		
		&:nth-child(1) {
			border-top-color: #67737f;
			
			.tariff__item_title {
				color: #8fa6ba;
			}
		}
		
		&:nth-child(2) {
			border-top-color: #374ec3;
			
			.tariff__item_title {
				color: #374ec3;
			}
		}
		
		&:nth-child(3) {
			margin-bottom: 0;
			border-top-color: #ca2c58;
			
			.tariff__item_title {
				color: #ca2c58;
			}
		}
	}
	
	.tariff_bs {
	
	}
	
	.tariff_pr {
	
	}
	
	.tariff_ex {
	
	}
	
	@media (min-width: $screen-md-min) {
	
		&__row {
			@include flexbox();
			@include justify-content(space-between);
		}
		
		&__item {
			width: 220px;
			margin-bottom: 0;
			
			
			&_title {
				font-size: 3.6rem;
				line-height: 3.6rem;
			}
		}
	}
	
	@media (min-width: $screen-lg-min) {
		
		&__item {
			width: 300px;
			
			&_title {
				font-size: 4.6rem;
				line-height: 4.6rem;
			}
		}
	}
	
	@media (min-width: $screen-xl-min) {
		
		&__item {
			width: 324px;
		}
	}
}

.career {
	background: #28313d;
	padding: 15px 0 15px 5px;
	border-bottom: 1px solid #151c25;
	@include border-radius(4px);
	@include flexbox();
	@include flex-wrap(wrap);
	@include justify-content(space-between);
	
	&__title {
		width: 100%;
		font-size: 1.4rem;
		line-height: 2rem;
		padding: 5px 10px;
		@include flex-shrink(0);
		
		span {
			color: #3889ee;
			display: block;
		}
		
		strong {
			color: #fff;
			display: block;
			font-weight: 600;
			font-size: 1.8rem;
			line-height: 2rem;
			margin-bottom: 3px;
			text-transform: uppercase;
		}
	}
	
	&__item {
		width: 25%;
		font-size: 1.3rem;
		line-height: 2rem;
		padding: 5px 10px;
	
		&_icon {
			width: 31px;
			margin-bottom: 3px;
		}
		
		&_text {
			
			span {
				color: #b4bdc7;
				display: block;
			}
			
			strong {
				color: #fff;
				display: block;
				font-weight: 600;
				font-size: 1.5rem;
				line-height: 2.2rem;
				text-transform: uppercase;
			}
		}
	}
	
	@media (min-width: $screen-sm-min) {
		@include flex-wrap(nowrap);
		
		&__title {
			width: 100px;
		}
	}
	
	@media (min-width: $screen-md-min) {
		white-space: nowrap;
		height: 100px;
		padding: 15px 0 15px 0;
		@include align-items(center);
		
		&__title {
			width: 180px;
			padding: 5px 0 5px 30px;
		}
		
		&__item {
			@include flexbox();
			@include align-items(center);
			
			&_text {
				padding-left: 15px;
			}
		}
	
	}
	
	@media (min-width: $screen-lg-min) {
		
		&__title {
			width: 235px;
		}
		
		&__item {
			@include flexbox();
			@include align-items(center);
			
			&_text {
				font-size: 1.4rem;
				padding-left: 15px;
				
				strong {
					font-size: 1.8rem;
					line-height: 2rem;
					margin-bottom: 3px;
				}
			}
		}
	}
	
}

.faq {
	padding: 25px 0;
	border-bottom: 1px solid #222b34;
	
	&:last-child {
		border-bottom: none;
	}
	
	&__question {
		color: #fff;
		font-size: 2rem;
		cursor: pointer;
		line-height: 2.4rem;
		@include flexbox();
		
		i {
			line-height: 2.4rem;
			display: inline-block;
			@include transition(.3s);
		}
		
		span {
			display: block;
			font-weight: 600;
			padding-left: 15px;
			@include flex-grow(1);
		}
		
		&:hover {
			color: $color-yellow;
		}
	}
	
	&__answer {
		color: #b4bdc7;
		display: none;
		font-weight: 300;
		padding-top: 20px;
		
		p {
			margin-bottom: 0;
		}
	}
	
	&.open {
		
		.faq__question {
			color: $color-yellow;
			
			i {
				@include rotate(180deg);
				@include transition(.3s);
			}
		}
	}
}


.help_list {
	margin: 0;
	padding: 0;
	list-style: none;
	counter-reset:li;
	
	li {
		position:relative;
		padding: 10px 0 15px 60px;
		
		&:before {
			top: 0;
			left: 0;
			color: #fff;
			width: 40px;
			height: 40px;
			padding: 8px 0;
			font-weight: 600;
			font-size: 1.6rem;
			line-height: 2rem;
			text-align: center;
			position: absolute;
			content:counter(li);
			counter-increment:li;
			border: 2px solid #246ac8;
			@include border-radius(50%);
		}
	}
}

.help_one {
	position: relative;
	padding-top: 40px;
	padding-bottom: 80px;
	
	&__image {
	
	}
	
	&__item {
		max-width: 380px;
	}
	
	@media (min-width: $screen-md-min) {
		@include flexbox();
		
		&__image {
			width: 380px;
			@include flex-shrink(0);
		}
		
		&__content {
			@include flex-grow(1);
		}
		
		&__text {
			margin-left: -10px;
		}
	}
	
	@media (min-width: $screen-lg-min) {
		
		&__image {
			width: 761px;
		}
		
		&__text {
			padding-top: 25px;
			margin-left: -140px;
		}
	}
	
}

.help_two {
	position: relative;
	padding-top: 40px;
	padding-bottom: 80px;
	
	&__image {
		margin-left: -20px;
		margin-bottom: 30px;
	}
	
	&__content {
		font-weight: 300;
	}
	
	@media (min-width: $screen-lg-min) {
		@include flexbox();
		@include justify-content(space-between);
		
		&__image {
			margin: 0;
			width: 480px;
			@include order(2);
			@include flex-shrink(0);
		}
		
		&__content {
			max-width: 460px;
			font-weight: 300;
			@include order(1);
		}
	}
	
	@media (min-width: $screen-xl-min) {
		
		&__image {
			width: 550px;
		}
	}
}

.help_three {
	position: relative;
	padding-top: 40px;
	padding-bottom: 80px;
	
	&__image {
	
	}
	
	&__item {
		max-width: 380px;
		font-weight: 300;
	}
	
	@media (min-width: $screen-md-min) {
		@include flexbox();
		
		&__image {
			width: 380px;
			@include flex-shrink(0);
		}
		
		&__content {
			@include flex-grow(1);
		}
		
		&__text {
			margin-left: -10px;
		}
	}
	
	@media (min-width: $screen-lg-min) {
		
		&__image {
			width: 761px;
		}
		
		&__text {
			padding-top: 25px;
			margin-left: -140px;
		}
	}
	
}

.help_four {
	position: relative;
	padding-top: 40px;
	padding-bottom: 80px;
	
	&__image {
		margin-left: -20px;
		margin-bottom: 30px;
	}
	
	&__content {
		font-weight: 300;
	}
	
	@media (min-width: $screen-lg-min) {
		@include flexbox();
		@include justify-content(space-between);
		
		&__image {
			margin: 0;
			width: 480px;
			@include order(2);
			@include flex-shrink(0);
		}
		
		&__content {
			max-width: 460px;
			font-weight: 300;
			@include order(1);
		}
	}
	
	@media (min-width: $screen-xl-min) {
		
		&__image {
			width: 550px;
		}
	}
}


.help_five {
	padding-top: 40px;
	padding-bottom: 35px;
	
	&__image {
		margin-bottom: 40px;
	}
	
	&__content {
		font-weight: 300;
	}
	
	&__legend {
		padding: 0;
		list-style: none;
		margin: 0 0 60px 0;
		
		> li {
			margin-bottom: 25px;
		}
	}
	
	@media (min-width: $screen-lg-min) {
		@include flexbox();
		
		&__image {
			width: 550px;
			margin-bottom: 0;
			@include flex-shrink(0);
		}
		
		&__content {
			max-width: 400px;
			padding: 25px 0 0 20px;
		}
		
		&__legend {
			margin-bottom: 100px;
		
			> li {
				margin-bottom: 45px;
			}
		}
		
		.warning {
			margin-left: -30px;
		}
	}
	
	
	@media (min-width: $screen-xl-min) {
		
		&__image {
			width: 617px;
		}
		
		&__content {
			padding: 30px 0 0 20px;
		}
		
		&__legend {
			margin-bottom: 140px;
			
			> li {
				margin-bottom: 60px;
			}
		}
	}
}


@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}