.footer {
	padding: 40px 0 50px 0;
	background: #151c25;
	
	&__row {
		position: relative;
	}
	
	&__logo {
		width: 148px;
		display: block;
		margin: 0 auto 30px auto;
	}
	
	&__nav {
		padding: 0;
		font-weight: 300;
		font-size: 1.3rem;
		line-height: 2rem;
		margin: 0 0 30px 0;
		list-style: none;
		@include flexbox();
		@include justify-content(center);
		
		> li {
			padding: 0 15px;
			
			a {
				color: #898f96;
				white-space: nowrap;
				text-decoration: none;
				@include transition(.3s);
				
				&:hover {
					color: #fff;
					text-decoration: underline;
					@include transition(.3s);
				}
			}
		}
	}
	
	&__social {
		margin: 0;
		padding: 0;
		list-style: none;
		@include flexbox();
		@include justify-content(center);
		
		li {
			margin: 0 12px;
			
			a {
				color: #585f68;
				font-size: 2rem;
				line-height: 2rem;
				display: inline-block;
				text-decoration: none;
				@include transition(.3s);
				
				&:hover {
					color: #fff;
					text-decoration: none;
					@include transition(.3s);
				}
			}
		}
	}
	
	&__text {
		padding-top: 30px;
		color: #898f96;
		font-weight: 300;
		font-size: 1.3rem;
		line-height: 1.8rem;
		text-align: center;
	}
	
	@media (min-width: $screen-sm-min) {
		
		&__row {
			height: 30px;
			padding-left: 170px;
			@include flexbox();
			@include align-items(center);
			@include justify-content(space-between);
		}
		
		&__logo {
			left: 0;
			top: 1px;
			margin: 0;
			position: absolute;
		}
		
		&__nav {
			margin-bottom: 0;
			@include justify-content(flex-start);
		}
		
		&__social {
			margin: 0 -12px 0 0;
		}
		
		&__text {
			text-align: left;
		}
	}
	
	@media (min-width: $screen-md-min) {
		
		&__row {
			padding-left: 210px;
		}
		
		&__nav {
			
			> li {
				padding: 0 20px;
			}
		}
	}
	
	@media (min-width: $screen-lg-min) {
	
	}
	
	@media (min-width: $screen-xl-min) {
	
	}
}