.header {
	z-index: 1200;
	position: relative;
	background: #151c25;
	@include box-shadow(0px 2px 15px 0px rgba(0, 0, 0, 0.16));
	
	&__logo {
		width: 180px;
		display: block;
		margin: 20px auto 0 auto;
	}
	
	&__nav {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 1.4rem;
		line-height: 2rem;
		@include flexbox();
		@include justify-content(space-between);
		
		> li {
			
			> a {
				width: 100%;
				color: #fff;
				padding: 0 10px;
				font-weight: 400;
				text-align: center;
				white-space: nowrap;
				display: inline-block;
				text-decoration: none;
				
				span {
					height: 60px;
					display: inline-block;
					padding: 20px 0 18px 0;
					border-bottom: 2px solid transparent;
				}
				
				&:hover {
					color: #fff;
					
					span {
						text-decoration: underline;
					}
				}
			}
			
			
			&.active {
			
				> a {
				
					span {
						border-bottom-color: $color-yellow;
					}
				}
			}
		}
	}
	
	@media (min-width: $screen-sm-min) {
	
		&__row {
			@include flexbox();
			@include align-items(center);
			@include justify-content(space-between);
		}
		
		&__logo {
			margin: 0;
		}
		
		&__nav {
			margin-right: -10px;
			
			> li {
			
			}
			
		}
	}
	
	@media (min-width: $screen-md-min) {
		
		&__logo {
			width: 197px;
		}
		
		&__nav {
			width: 330px;
			
			> li {
			
				> a {
					
					span {
						height: 84px;
						padding: 32px 0 30px 0;
					}
				}
			}
			
		}
	}
	
	@media (min-width: $screen-lg-min) {
	
	}
	
	@media (min-width: $screen-xl-min) {
	
	}
}