
.btn {
	outline: none;
	color: #1c2530;
	cursor: pointer;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 2rem;
	padding: 9px 38px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #ffcc00;
	border: 2px solid #ffcc00;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	@include transition(.3s);
	@include border-radius(4px);

	&:hover {
		color: #1c2530;
		background: #fffd4b;
		border-color: #fffd4b;
		@include transition(.3s);
	}

	&:active {
		background: #ffcc00;
		border-color: #ffcc00;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn_border {
	color: #fff;
	background: transparent;
	
	&:hover {
		color: #151c25;
		background: #ffcc00;
		border-color: #ffcc00;
	}
	
	&:active {
		background: #fffd4b;
		border-color: #fffd4b;
	}
}

.btn_md {
	font-size: 1.6rem;
	padding: 17px 40px;
}

.btn_lg {
	font-weight: 600;
	font-size: 1.4rem;
	padding: 13px 45px;
}

.btn_shadow {
	@include box-shadow(0px 10px 25px 0px rgba(224, 179, 0, 0.4));
}

.btn_long {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}
