.form_control {
	margin: 0;
	width: 100%;
	height: 44px;
	outline: none;
	color: #1c2530;
	background: #fff;
	font-size: 1.5rem;
	line-height: 2rem;
	padding: 11px 16px;
	display: inline-block;
	border: 1px solid #fff;
	@include placeholder(#1c2530);
	@include border-radius(4px);
	
	
	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}
	
	&:focus {
		@include placeholder(transparent);
	}
	
	&.error {
		border-color: darkred;
	}
}

.form_label {
	color: #b4bdc7;
	display: block;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 2rem;
	margin-bottom: 5px;
}

.form_group {
	margin-bottom: 15px;
}